<div class="about-facts">

    <div class="about-facts__left">
        <div class="fact">
        	<div class="fact__title">
        		<h3>122</h3>
        	</div>
        	<div class="fact__content">
        		<i class="js-svg" data-name="icon__robinet" data-modifier="fact"></i>
        		<p class="blue">Litres of water saved per day versus farming beef</p>
        	</div>
        	<span class="fact__number fact__number--01">01</span>
        </div>
        
    </div>

    <div class="about-facts__right">
        <div class="fact">
        	<div class="fact__title">
        		<h3>122</h3>
        	</div>
        	<div class="fact__content">
        		<i class="js-svg" data-name="icon__robinet" data-modifier="fact"></i>
        		<p class="blue">Litres of water saved per day versus farming beef</p>
        	</div>
        	<span class="fact__number fact__number--01">01</span>
        </div>
        
    </div>
    

</div>