<div class="article-header">
    <div class="article-header__left">
        <a href="">back to blog</a>
    </div>
    <div class="article-header__right">
        <div class="article-header__title">
            <h4 class="title title--blue title--small">Share this article</h4>
        </div>
        <ul class="article-header__social">
            <li><a href=""><i class="js-svg" data-name="icon__instagram--grey" data-modifier="social"></i></a></li>
            <li><a href=""><i class="js-svg" data-name="icon__facebook--grey" data-modifier="social"></i></a></li>
            <li><a href=""><i class="js-svg" data-name="icon__twitter--grey" data-modifier="social"></i></a></li>
        </ul>
    </div>
</div>