<div class="blog-nav">
    <div class="blog-nav__title">
        <h2 class="title title--blue">Posts</h2>
    </div>

    <div class="blog-nav__filters">
        <div class="blog-nav__subtitle">
            <h4 class="title title--blue title--small">Filters posts</h4>
        </div>
        <ul>
            <li><a href="" class="blog-nav__link blog-nav__link--active">all</a></li>
            <li><a href="" class="blog-nav__link">environnment</a></li>
            <li><a href="" class="blog-nav__link">food</a></li>
            <li><a href="" class="blog-nav__link">technology</a></li>
        </ul>
    </div>
</div>