<div class="card-article">

	<div class="card-article__right">
		<div class="card-article__textcontent">
			<div class="card-article__textcontent__header">
				<i class="js-svg" data-name="icon__tag--blue" data-modifier="tag"></i>
				<p class="blue">technology</p>
			</div>
			<div class="card-article__textcontent__title">
				<h3>A new breakthrough in the industry</h3>
			</div>
			<div class="card-article__textcontent__text">
				<p class="caption">Deleniti repellat primis excepturi dolorem tempore, ultricies quidem occaecat aenean augue.</p>
			</div>
		</div>
	</div>
	<div class="card-article__left">
		<!-- Overlay -->
<!--		<div></div>-->
		<!-- BG img -->
		<div></div>
	</div>
	
<!-- INSÉRER MON OVERLAY PLUS FONCÉ DE L'HOVER SUR ICI	-->
	<div class="card-article__overlay"></div>

	<div class="card-article__link">
		<a href="" class="cta-readmore cta-readmore--blog">Read more</a>
	</div>
</div>
