<div class="offset offset--story">
	<div class="offset__header">
		<!-- overlay -->
<!--		<div></div>-->

		<div>
			<img src="/img/bg/bg__story@2x.jpg" alt="">
		</div>

	</div>

	<div class="offset__right">
		<div class="offset__right__panlogo">
			<img src="/img/logos/logo__no-name.svg" alt="Logo Neoxis">
		</div>
		<div class="offset__right__content">
			<h3 class="title title--big title--white">Our Story</h3>
			<p class="white">Deleniti repellat primis excepturi dolorem tempore, ultricies quidem occaecat aenean augue sit voluptas luctus rhoncus, nemo, aliqua nostra sequi.</p>
		</div>
		<div class="offset__right__readmore">
			<a href="" class="cta cta--readmore">Read more</a>
		</div>		
	</div>
</div>


