<div class="contact-infos">
    <div class="contact-infos__col">
        <h3 class="contact-infos__title">Social media</h3>
        <ul class="contact-infos__list">
            <li>
                <p>@neoxis</p>
            </li>
            <li>
                <ul class="contact-infos__social">
                    <li><a href=""><i class="js-svg" data-name="icon__instagram--grey" data-modifier="social"></i></a></li>
                    <li><a href=""><i class="js-svg" data-name="icon__facebook--grey" data-modifier="social"></i></a></li>
                    <li><a href=""><i class="js-svg" data-name="icon__twitter--grey" data-modifier="social"></i></a></li>
                </ul>
            </li>							
        </ul>
    </div>

    <div class="contact-infos__col">
        <h3 class="contact-infos__title">Write to us</h3>
        <ul class="contact-infos__list">
            <li>
                <p>info@neoxis.com</p>
            </li>
        </ul>
    </div>

    <div class="contact-infos__offset">
        <h3>contact</h3>
    </div>	
</div>