<div class="cta-newsletter">
    <div class="cta-newsletter__left">
        <h4 class="title title--blue title--small">Subscribe to our newsletter</h4>
    </div>

    <div class="cta-newsletter__right">
        <form action="" method="post" id="form1" name="form1" class="form" novalidate>
            <div class="form__input-newsletter form__input-newsletter--light">
                <div class="form__input-newsletter__left">
                    <input type="email" value="" placeholder="Email" id="input-email_0" name="input-email_0" required> </div>
                <div class="form__input-newsletter__right">
                    <button type="submit" name="subscribe0" id="subscribe0">
                    <img src="/img/icons/src/icon__arrow-send--right--white.png" alt="" class="icon">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>