<div class="faq-answer">
    <div class="faq-answer__container">
        <!-- Question -->
        <div class="faq-answer__question">
            <p class="emphasis blue">Deleniti repellat primis excepturi dolorem tempore, ultricies quidem occaecat aenean augue?</p>
        </div>

        <!-- answer -->
        <div class="faq-answer__answer">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dolor justo, bibendum id fermentum nec, pulvinar et purus. Pellentesque ullamcorper diam id pulvinar eleifend.</p>
            <p>Ut fringilla pretium sapien quis dictum. Aenean sit amet mauris venenatis, aliquet nibh ac, elementum nunc. Nulla id elit nisl.</p>
        </div>

        <!-- list pointer -->
        <div class="faq-answer__pointer">
            <p class="blue"> Have any other questions?</p>
            <div class="faq-answer__icon">
                <a href="" id="tofaqnav">
                        <img src="/img/icons/src/icon__arrow--down--blue.svg" alt="" class="icon">
                </a>
            </div>
        </div>

        <div class="faq-answer__link">
            <a href="">
                <p class="blue">View page</p>
            </a>
        </div>
    </div>
</div>