<div class="faq-answer">
    <!-- Question -->
    <div class="faq-answer__question">
        <p class="emphasis blue">Deleniti repellat primis excepturi dolorem tempore, ultricies quidem occaecat aenean augue?</p>
    </div>

    <!-- answer -->
    <div class="faq-answer__answer">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dolor justo, bibendum id fermentum nec, pulvinar et purus. Pellentesque ullamcorper diam id pulvinar eleifend.</p>
        <p>Ut fringilla pretium sapien quis dictum. Aenean sit amet mauris venenatis, aliquet nibh ac, elementum nunc. Nulla id elit nisl.</p>
        <a href="">View page</a>
    </div>

    <!-- list pointer -->
    <div class="faq-answer__pointer">
        <p>Have any other questions?</p>
        <div>
            <img src="/img/icons/src/icon__arrow--down--blue.svg" alt="">
        </div>
    </div>
</div>