<footer class="footer">

	<div class="footer__flexrow">

		<div class="footer__flexrow__item">
			<div class="footer__flexrow__item__title">
				<a href=""><img src="/img/logos/logo__name-include--white.svg" alt="" class="logo logo--footer"></a>
			</div>
			<div class="footer__flexrow__item__content">
				<p class="white">Preparing the future of the food industry.</p>
			</div>
		</div>


		<div class="footer__flexrow__item">
			<div class="footer__flexrow__item__title">
				<h3 class="title title--white title--footer">Keep in Touch</h3>
			</div>
			<div class="footer__flexrow__item__content">
				<form action="" method="post" id="form0" name="form0" class="form" novalidate>
					<div class="form__input-newsletter form__input-newsletter--dark">
						<div class="form__input-newsletter__left">
							<input type="email" value="" placeholder="Email" id="input-email_0" name="input-email_0" required> </div>
						<div class="form__input-newsletter__right">
							<button type="submit" name="subscribe0" id="subscribe0">
							<img src="/img/icons/src/icon__arrow-send--right--white.png" alt="" class="icon">
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="footer__flexrow__item">
			<div class="footer__flexrow__item__title">
				<h3 class="title title--white title--footer">Follow Us</h3>
			</div>
			<div class="footer__flexrow__item__content">
				<ul class="footer__social">
					<li class="footer__social__item">
						<a href="">
							<i class="js-svg" data-name="icon__instagram--white" data-modifier="social"></i>
						</a>
					</li>
					<li class="footer__social__item">
						<a href="">
							<i class="js-svg" data-name="icon__facebook--white" data-modifier="social"></i>
						</a>
					</li>
					<li class="footer__social__item">
						<a href="">
							<i class="js-svg" data-name="icon__twitter--white" data-modifier="social"></i>
						</a>
					</li>
				</ul>
			</div>


		</div>
	</div>

	<div class="footer__signature">
		<a href="">
		<img src="/img/logos/logo__spektrum--signature.svg" alt="" class="logo logo--signspk">
		</a>
	</div>

	<!--  Section call-to-action  -->
	<div class="footer__footer">
		<div class="cta cta--footer">
			<a href="">
            <img src="/img/icons/src/icon__tag--white.svg" alt="" class="icon icon--tag">
            <p class="white">Get a free sample</p>
        </a>
		</div>
	</div>

</footer>
