
<!-- Main - Logo -->
<div class="main-logo">
	<div class="main-logo__pan"></div>
	<div class="main-logo__slider">
		<a href="" class="main-logo__link">
			<!-- <img src="/img/logos/logo__name-include--blue.svg" alt="" class="logo logo--main"> -->
			<img src="/img/logos/logo__name-include--blue.svg" alt="" class="main-logo__logo">
		</a>
	</div>
</div>


<!-- navbar - DESKTOP -->
<header class="navbar-desktop">
	<nav class="navbar-desktop__container">
		
		<div class="navbar-desktop__container__item">

		</div>
		<div class="navbar-desktop__container__item">
			<div class="navbar-desktop__menu-btn">
				<a href="" id="burgerzone" class="navbar-desktop__menu-btn__link">
					<p class="title title--navbar">Menu</p>
					<div class="hamburger hamburger--minus">
						<span class="hamburger-box">
						<span class="hamburger-inner"></span>
						</span>
					</div>
				</a>
			</div>
		</div>
		<div class="navbar-desktop__container__item">
			<ul class="navbar-desktop__social">
				<li><a href=""><i class="js-svg" data-name="icon__instagram--grey" data-modifier="social"></i></a></li>
				<li><a href=""><i class="js-svg" data-name="icon__facebook--grey" data-modifier="social"></i></a></li>
				<li><a href=""><i class="js-svg" data-name="icon__twitter--grey" data-modifier="social"></i></a></li>
			</ul>
		</div>
	</nav>

</header>


<!-- navbar - MOBILE -->
<header class="navbar-mobile">
	<div class="navbar-mobile__logoleft">
		<a href="">
			<img src="/img/logos/logo__name-include--blue.svg" alt="" class="logo logo--name logo--name--mobile">
		</a>
	</div>
	<div class="navbar-mobile__menu-btn">
		<a href="" id="burgermobile" class="navbar-mobile__menu-btn__link">
			<p class="title title--navbar">Menu</p>
			<div class="hamburger hamburger--mobile hamburger--minus">
				<span class="hamburger-box">
						<span class="hamburger-inner"></span>
				</span>
			</div>
		</a>
	</div>
</header>


<!--  MENU - DESKTOP  -->	

<div class="menu-desktop__pan"></div>
<nav class="menu-desktop">
	<ul class="menu-desktop__container">
		<li class="menu-desktop__section">
			<a href="" class="title title--navmenu">Products</a>
			<ul class="menu-desktop__section__sub">
				<li><a href="" class="title title--navmenu title--navmenu--sub">Whole Powder</a></li>
				<li><a href="" class="title title--navmenu title--navmenu--sub">Protein Concentrate</a></li>
				<li><a href="" class="title title--navmenu title--navmenu--sub">Isolate Protein</a></li>
				<li><a href="" class="title title--navmenu title--navmenu--sub">Oil</a></li>
			</ul>
		</li>
		<li class="menu-desktop__section">
			<a href="" class="title title--navmenu">Industries</a>
			<ul class="menu-desktop__section__sub">
				<li><a href="" class="title title--navmenu title--navmenu--sub">Food</a></li>
				<li><a href="" class="title title--navmenu title--navmenu--sub">Sports</a></li>
				<li><a href="" class="title title--navmenu title--navmenu--sub">Pharmaceutical</a></li>
				<li><a href="" class="title title--navmenu title--navmenu--sub">Scientific</a></li>
			</ul>
		</li>
		<li class="menu-desktop__section">
			<a href="" class="title title--navmenu">Our Story</a>
			<ul class="menu-desktop__section__sub">
				<li><a href="" class="title title--navmenu title--navmenu--sub">About us</a></li>
				<li><a href="" class="title title--navmenu title--navmenu--sub">Process</a></li>
			</ul>
		</li>
		<li class="menu-desktop__section">
			<a href="" class="title title--navmenu">FAQ</a>
		</li>
		<li class="menu-desktop__section">
			<a href="" class="title title--navmenu">Contact</a>
		</li>
		<li class="menu-desktop__section">
			<a href="" class="title title--navmenu">Blog</a>
		</li>
	</ul>
</nav>





<!-- MENU - MOBILE -->
<div class="menu-mobile">
	<div class="menu-mobile__top">
		<div class="menu-mobile__top__wrapper">
			<ul class="menu-mobile__top__btn-left">
				<li class="menu-mobile__top__btn-left__item"><a href=""><i class="js-svg" data-name="icon__basket--blue"></i></a></li>
				<li class="menu-mobile__top__btn-left__item"><a href="">Français</a>
				</li>
			</ul>
			<ul class="menu-mobile__top__social">
				<li><a href=""><i class="js-svg" data-name="icon__instagram--grey" data-modifier="social"></i></a></li>
				<li><a href=""><i class="js-svg" data-name="icon__facebook--grey" data-modifier="social"></i></a></li>
				<li><a href=""><i class="js-svg" data-name="icon__twitter--grey" data-modifier="social"></i></a></li>
			</ul>
		</div>
	</div>
	
	<nav class="menu-mobile__container">
		<ul>
			<li class="menu-mobile__container__section">
				<a href="" class="title title--menumobile">Products</a>
				<ul class="menu-mobile__container__section__sub">
					<li><a href="" class="title title--menumobile title--menumobile--sub">Whole Powder</a></li>
					<li><a href="" class="title title--menumobile title--menumobile--sub">Protein Concentrate</a></li>
					<li><a href="" class="title title--menumobile title--menumobile--sub">Isolate Protein</a></li>
					<li><a href="" class="title title--menumobile title--menumobile--sub">Oil</a></li>
				</ul>
			</li>
			<li class="menu-mobile__container__section">
				<a href="" class="title title--menumobile">Industries</a>
				<ul class="menu-mobile__container__section__sub">
					<li><a href="" class="title title--menumobile title--menumobile--sub">Food</a></li>
					<li><a href="" class="title title--menumobile title--menumobile--sub">Sports</a></li>
					<li><a href="" class="title title--menumobile title--menumobile--sub">Pharmaceutical</a></li>
					<li><a href="" class="title title--menumobile title--menumobile--sub">Scientific</a></li>
				</ul>
			</li>
			<li class="menu-mobile__container__section">
				<a href="" class="title title--menumobile">Our Story</a>
				<ul class="menu-mobile__container__section__sub">
					<li><a href="" class="title title--menumobile title--menumobile--sub">About us</a></li>
					<li><a href="" class="title title--menumobile title--menumobile--sub">Process</a></li>
				</ul>
			</li>
			<li class="menu-mobile__container__section">
				<a href="" class="title title--menumobile">FAQ</a>
			</li>
			<li class="menu-mobile__container__section">
				<a href="" class="title title--menumobile">Contact</a>
			</li>
			<li class="menu-mobile__container__section">
				<a href="" class="title title--menumobile">Blog</a>
			</li>
		</ul>
	</nav>
</div>