<div class="offset offset--actor">
	<div class="offset--actor__left">
		<!-- overlay -->
<!--		<div></div>-->

		<div class="offset--actor__left__container-img">
			<img src="/img/bg/bg__industries-actor--01@2x.jpg" alt="">
		</div>
	</div>

	<div class="offset--actor__right">
		<div class="offset--actor__right__text">
			<div class="offset--actor__right__text__header">
				<h3 class="title title--white title--actor">John Mitchell</h3>
				<p class="white">CEO of Nike Sports Canada</p>
			</div>
			<div class="offset--actor__right__text__citation">
				<p class="white citation">Deleniti repellat primis excepturi dolor em tempore, ultricies quidem occaecat aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis enim volutpat, congue justo at, suscipit magna.</p>
			</div>
		</div>
	</div>
</div>