<div class="offset-contact">
    <div class="offset-contact__left">
        <!-- overlay -->
        <!-- <div></div> -->

        <div class="offset-contact__img">
            <!-- BG-IMG -->
        </div>
    </div>

    <div class="offset-contact__right">

        <form action="" method="post" id="form-contact" name="form-contact" class="form form--light form--contact" novalidate>

            <p class="form__texttop">Deleniti repellat primis excepturi dolorem tempore, ultricies quidem occaecat aenean augue.</p>

            <div class="form__input-container">
                <input type="email" id="form-contact__input-email" name="form-contact__input-email" placeholder="Email">
            </div>

            <div class="form__input-container">
                <input type="text" id="form-contact__input-subject" name="form-contact__input-subject" placeholder="Subject">
            </div>

            <div class="form__input-container">
                <textarea placeholder="Message" rows="8"></textarea>

            </div>
            
            <div class="form__submit-off">
                    <input type="submit" id="form-contact__input-submit" name="form-contact__input-submit" value="Send"></input>
            </div>

        </form>
    </div>
</div>