<div class="offset-top-article">
    <div class="offset-top-article__header">
        <!-- overlay -->
        <!--<div></div>-->

        <div>
            <img src="/img/bg/bg__article-header--03@3x.jpg" alt="">
        </div>

    </div>

    <div class="offset-top-article__right">

        <div class="offset-top-article__right__content">

            <div class="offset-top-article__textcontent">
                <div class="offset-top-article__textcontent__header">
                    <i class="js-svg" data-name="icon__tag--white" data-modifier="tag"></i>
                    <p class="white">technology</p>
                </div>
                <div class="offset-top-article__textcontent__title">
                    <h3>A new breakthrough in the industry</h3>
                </div>
                <div class="offset-top-article__textcontent__text">
                    <p class="white">Deleniti repellat primis excepturi dolorem tempore, ultricies quidem occaecat aenean augue. Ultricies quidem occaecat aenean augue.</p>
                </div>
            </div>


        </div>
        <div class="offset-top-article__right__readmore">
            <a href="" class="cta-readmore">Read more</a>
        </div>		
    </div>
</div>