<div class="slider">

    <div class="slider__main">
        <div class="slider__main__slide">
            <div class="slider__main__slide__img">

            </div>
            <div class="slider__main__slide__text">
                <p class="caption">1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dolor justo, bibendum id fermentum nec, pulvinar et purus. Pellentesque ullamcorper diam id pulvinar eleifend.</p>
            </div>
        </div>
        <div class="slider__main__slide">
            <div class="slider__main__slide__img">

            </div>
            <div class="slider__main__slide__text">
                <p class="caption">2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dolor justo, bibendum id fermentum nec, pulvinar et purus. Pellentesque ullamcorper diam id pulvinar eleifend.</p>
            </div>
        </div>
        <div class="slider__main__slide">
            <div class="slider__main__slide__img">

            </div>
            <div class="slider__main__slide__text">
                <p class="caption">3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dolor justo, bibendum id fermentum nec, pulvinar et purus. Pellentesque ullamcorper diam id pulvinar eleifend.</p>
            </div>
        </div>
        <div class="slider__main__slide">
            <div class="slider__main__slide__img">

            </div>
            <div class="slider__main__slide__text">
                <p class="caption">4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dolor justo, bibendum id fermentum nec, pulvinar et purus. Pellentesque ullamcorper diam id pulvinar eleifend.</p>
            </div>
        </div>
    </div>

    <div class="slider__ctrls">
        <a href="" class="slider__ctrls__link">
            <div class="slider__ctrls__link__btn"></div>
        </a>
        <a href="" class="slider__ctrls__link">
            <div class="slider__ctrls__link__btn"></div>
        </a>
        <a href="" class="slider__ctrls__link">
            <div class="slider__ctrls__link__btn"></div>
        </a>
        <a href="" class="slider__ctrls__link">
            <div class="slider__ctrls__link__btn"></div>
        </a>
    </div>

</div>
