<div class="step">

    <div class="step__number">
        <h3>01</h3>
    </div>

    <div class="step__text">
        <div class="step__text__top">
            <p class="blue">Deleniti repellat primis excepturi dolorem tempore, ultricies</p>
        </div>
        <div class="step__text__bottom">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dolor justo, bibendum id fermentum nec, pulvinar et purus. Pellentesque ullamcorper diam id pulvinar eleifend.</p>
        </div>
    </div>

</div>