<nav class="subnav-industries">
    <ul class="subnav-industries__flexcontainer">
        <li class="subnav-industries__flexcontainer__item">
            <a href="">
                <p>Food</p>
            </a>
        </li>
        <li class="subnav-industries__flexcontainer__item">
            <a href="">
                <p>Sports</p>
            </a>
        </li>
        <li class="subnav-industries__flexcontainer__item">
            <a href="">
                <p>Pharmaceutical</p>
            </a>
        </li>
        <li class="subnav-industries__flexcontainer__item">
            <a href="">
                <p>Technology</p>
            </a>
        </li>
    </ul>
</nav>