<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>C# - Notes</title>

	<!--=include partials/css.html -->
</head>

<body>

	<div class="container my-5">

		<!--=include partials/retour-index.html -->

		<h1 class="display-1 text-center py-5">C#</h1>	

		<h2 class="text-center">Sources</h2>

		<div class="list-group mb-4">
			<a href="https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/hello-world" class="list-group-item list-group-item-action" target="_blank">Tutoriel Microsoft en ligne</a>
			<!-- <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
			<a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
			<a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
			<a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a> -->
		</div>

		<h2 class="text-center pt-4">Notes</h2>

		<dl>
			<dt>Coucouc les TEST</dt>
		</dl>

	</div>
	

	<!--	SCRIPTS		-->

	<!--=include partials/scripts.html -->
	

</body>

</html>
