<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Frede - Notes</title>

	<!--=include partials/css.html -->
</head>

<body>

	<h1 class="display-1 text-center my-5">Tutos, apprentissages &amp; cie</h1>	

	<div class="container my-5">

		<div class="list-group">
			<a href="cs.html" class="list-group-item list-group-item-action">C#</a>
			<!-- <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
			<a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
			<a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
			<a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a> -->
		  </div>

	</div>
	

	<!--	SCRIPTS		-->

	<!--=include partials/scripts.html -->
	

</body>

</html>
