//colors

$white: rgb(255, 255, 255);

$blue: rgb(0, 124, 188);
$blue-gradient: rgb(0, 179, 223);
$blue-transparent: rgba(0, 124, 188, 0.25);

$grey-light: rgb(242, 242, 242);
$grey-ctrl: #c5c5c5;
$grey-dark: rgb(77, 77, 77);

$black: rgb(0, 0, 0);

