$easings:(
	default: cubic-bezier(.4, .25, .3, 1),
	in: cubic-bezier(.6, .1, .8, .7),
	out: cubic-bezier(.2, .3, .4, .9),
	in-out: cubic-bezier(.5, .15, .4, 1),
	bounce: cubic-bezier(.4, .25, .3, 1.4),
	smooth: cubic-bezier(.65,.05,.01,.99),
	ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1),
	ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94)
);

//I took some from https://easings.net
