$navbarwidth: 6vw;
$navAnimTiming: 0.4s;
$navAnimDelay: 0.1s;

$marginXcontent: 100;
$marginBanner: 162;
$marginYsections: 140;

$generaMinWidth: 300px;

$factdimension: 60vw;
$factdimension--xs: 500px;
$factdimension--xxs: 125vw;

$storyAnimTiming: 0.3s;

$blogCardAnimTiming: 0.4s;


